body {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter;
  background: #D9D9D9;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #28282B 0%, rgba(40, 40, 43, 0.7) 100%);
  box-shadow: 0px 4px 4px #000000;
  font-weight: 400;
  font-size: 4rem;
  line-height: 4.5rem;
  text-align: center;
  color: #ffffff;
}

.frame-19 {
  display: flex;
  flex-direction: column;
  padding: 2rem 0rem 0rem 0rem;
}


.quote-image {
  width: 6rem;
  height: 4rem;

}

.titl {
  padding: 4rem 0rem 2rem 0rem;
}

.quote {
  letter-spacing: 2px;
  font-size: 2rem;
  padding: 0.5rem 0rem 0rem 0rem;
}

.author {
  letter-spacing: 2px;
  font-size: 1.5rem;
  padding: 0rem 2rem 0rem 0rem;
  text-align: right;
}

.warren {
  padding-top: 4.3rem;
  max-width: 22rem;
  max-height: 22rem;
}

.frame-1 {
  display: flex;
  flex-direction: row;
  font-style: light;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  background: #D9D9D9;
  align-items: center;
  padding: 20px 0px 20px 0px;
}

.frame-1 > div {
  flex: 50%;
  margin-bottom: 10px;
}

.mission {
  text-align: center;
}

.frame-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 25px 0px 25px 0px;
  background: rgba(57, 59, 68, 0.8);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.75vw;
  line-height: 45px;
  text-align: right;
  color: #FFFFFF;
}

.frame-10 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.frame-3 {
  display: flex;
  flex-direction: row;
  font-style: light;
  justify-content: space-around;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 18px;
  line-height: 45px;
  background: #D9D9D9;
  align-items: center;
  padding: 50px 0px 50px 0px;
}
.links {
  color: navy;
}
.message {
  width: 50%;
}

.building {
  max-width: 20rem;

  max-height: 20rem;
  border-radius: 30px;
}

.frame-4 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-style: light;
  justify-content: space-between;
  font-weight: 400;
  font-size: 24px;
  line-height: 45px;
  padding: 15px 0px 15px 0px;
 
}

.box-1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 70px 10px 0px;
  /* text-align: right; */
  min-height: 50px;
  max-height: 100px;
  min-width: 50px;
  width: 450px;
  max-width: 600px;
  color: rgba(253, 251, 249, 255);
  background: rgba(100, 132, 145, 0.8);
  box-shadow: 0px 4px 4px #000000;
  border-radius: 0px 30px 30px 0px;
}

.box-3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 70px 10px 0px;
  /* text-align: right; */
  min-height: 50px;
  max-height: 100px;
  min-width: 50px;
  width: 450px;
  max-width: 600px;
  color: rgba(253, 251, 249, 255);
  background: rgba(57, 59, 68, 191);
  box-shadow: 0px 4px 4px #000000;
  border-radius: 0px 30px 30px 0px;
}

.box-4 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0px 10px 70px;
  /* text-align: right; */
  min-width: 50px;
  min-height: 50px;
  max-height: 100px;
  width: 450px;
  max-width: 600px;
  color: rgba(253, 251, 249, 255);
  background: rgba(154, 121, 165, 191);
  box-shadow: 0px 4px 4px #000000;
  border-radius: 30px 0px 0px 30px;
}

.box-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0px 10px 70px;
  /* text-align: right; */
  min-width: 50px;
  min-height: 50px;
  max-height: 100px;
  width: 450px;
  max-width: 600px;
  
  background:  rgba(228, 227, 217, 191);
  box-shadow: 0px 4px 4px #000000;
  border-radius: 30px 0px 0px 30px;
}

.frame-5 {
  padding: 2rem 0rem 0.7rem 0rem;
  display: flex;
  flex-direction: column;
  font-style: light;
  justify-content: space-around;
}

.geicoq {
  display: flex;
  flex: 1;
  padding: 15px 0px 10px 0px;
  justify-content: center;
}

.geico {
  max-width: 120px;
}


.top-three {
  padding-top: 2.4rem;
  max-width: 120px;
}
.borsheims {
  padding-top: 1rem;
  max-width: 120px;
}

.text-geico {
  display: flex;
  flex: 1;
  font-style: light;
  justify-content: center;
}

.frame-6 {
  display: flex;
  flex-direction: column;
  padding: 50px 110px 30px 110px;
}

.subs {
  font-weight: 400;
  font-size: 22px;
  line-height: 45px; 
}

.frame-7 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px 0px 30px 0px;
}

.frame-8 {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px; 
}


.frame-9 {
  padding: 27px 30px 0px 30px;
  display: flex;
  justify-content: row;
  flex: 1;
  font-weight: 20;
  font-size: 14px;
  line-height: 15px; 
  background: rgba(31, 31, 33, 0.8);
  color: #FFFFFF;
}

.lef {
  display: flex;
  justify-content: flex-start;
  align-self: right;
  flex: 1;
}

.rig {
  display: flex;
  justify-content: flex-end;
  align-self: right;
  flex: 1;
}


@media screen and (max-width: 1040px) {

  .frame-4 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-style: light;
  justify-content: space-between;
  font-weight: 400;
  font-size: 24px;
  line-height: 45px;
  padding: 15px 0px 15px 0px;
 
}

.box-1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 70px 10px 0px;
  /* text-align: right; */
  min-height: 50px;
  max-height: 100px;
  min-width: 50px;
  width: 450px;
  max-width: 600px;
  
  background: rgba(100, 132, 145, 0.8);
  box-shadow: 0px 4px 4px #000000;
  border-radius: 0px 30px 30px 0px;
}

.box-3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 70px 10px 0px;
  /* text-align: right; */
  min-height: 50px;
  max-height: 100px;
  min-width: 50px;
  width: 450px;
  max-width: 600px;
  
  color: rgba(253, 251, 249, 255);
  background: rgba(57, 59, 68, 191);
  box-shadow: 0px 4px 4px #000000;
  border-radius: 0px 30px 30px 0px;
}


.box-4 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 70px 10px 0px;
  /* text-align: right; */
  min-height: 50px;
  max-height: 100px;
  min-width: 50px;
  width: 450px;
  max-width: 600px;
  color: rgba(253, 251, 249, 255);
  background: rgba(154, 121, 165, 191);
  box-shadow: 0px 4px 4px #000000;
  border-radius: 0px 30px 30px 0px;
}
.box-2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 70px 10px 0px;
  /* text-align: right; */
  min-height: 50px;
  max-height: 100px;
  min-width: 50px;
  width: 450px;
  max-width: 600px;
  
  background: rgba(228, 227, 217, 191);
  box-shadow: 0px 4px 4px #000000;
  border-radius: 0px 30px 30px 0px;
}
}

@media screen and (max-width: 700px) {
  .top-three {
    max-width: 120px;
  }
  .borsheims {
    max-width: 120px;
  }
  .message {
    width: 70%;
  }
.frame-19 {
  display: none;
}
.frame-6 {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.3rem 1.9rem 1.3rem;
}
.frame-7 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem 4.3rem 0px 4.3rem;
}
.geico {
  max-width: 120px;
  padding: 0px 0px 20px 0px;
}
}